body {
    background-color: #3f1a6e;
}

.beholder {
    position: relative !important;
}

.kretskortbilde {
    height: 450px;
    z-index: -1;
    width: 85%;
    margin-top: 50px;
    border-radius: 25px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}


.tittel {
    position: absolute;
    bottom: 10px;
    left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 73px;
}


h1, p, h2 {
    color: white;
    font-family: 'Inconsolata', monospace;
}