body {
    background-color: #3f1a6e;
}

.beholder {
    position: relative !important;
}

.kretskortbilde {
    height: 450px;
    z-index: -1;
    width: 85%;
    margin-top: 50px;
    border-radius: 25px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    border-style: dotted;
    border-width: 50px;
    border-color: pink;
}


.tittel {
    position: absolute;
    bottom: 0px;
    left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 73px;
}


h1, p, h2 {
    color: white;
    font-family: 'Inconsolata', monospace;
    background-color: rgba(0, 0, 0, 0.5);
}