body {
    background-color: #5b2a9b;
    background-image: radial-gradient(circle, transparent 5%, #2f163d 5%);
    background-size: 50% 50%;
    background-position: 0 0;
    width: 100%;
    height: 100%;
}

.beholder {
    position: relative !important;
}

.kretskortbilde {
    height: 450px;
    z-index: -1;
    width: 85%;
    margin-top: 50px;
    border-radius: 25px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}


.tittel {
    position: absolute;
    bottom: -50px;
    left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 73px;
    background-color: rgba(0, 0, 0, 0.842);
}


h1, p, h2 {
    color: white;
    font-family: 'Inconsolata', monospace;
}